# Senha do banco de dados (SQL Server)
# Usada no docker-compose e pode ser usada na string de conexão
DB_PASSWORD=SuaSenhaSegura@2026

# String de conexão local (opcional, se quiser sobrescrever o appsettings.json)
# ConnectionStrings__DefaultConnection="Server=localhost,11433;Database=CriptoTrabalhoFinalInfraestrutura;User Id=sa;Password=SuaSenhaSegura@2026;TrustServerCertificate=True;Encrypt=True;MultipleActiveResultSets=True"
